body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-bottom: 40px;
  font-size: 1.2em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1516797045820-6edca89b2830?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ee9490bac752c3674694855720c6627&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  color: #eee;
  padding: 5px;
}

.jumbotron h1 {
  text-align: center;
  font-size: 100px;
}

.jumbotron p {
  width: 70%;
  text-align: center;
  margin: 2em auto 0;
  font-size: 1.5em;
}

.jumbotron a {
  color: #eee;
}

.jumbotron ul {
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
}

.jumbotron li {
  display: inline;
  margin: 20px;
}

#avatar {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 25px auto 0;
}

.sidebar {
  float: right;
  margin: 40px 20px 10px 50px;
}

.aboutMe {
  text-align: justify;
  width: 95%;
  margin: auto;
}

.myemphasis {
  font-weight: bold;
  font-size: 1.25em;
  color: #581908;
}

@media screen and (min-width: 1290px) {
  .column {
    width: 300px;
    margin: 15px;
    float: left;
  }

  .aboutMe {
    margin-left: 100px;
  }
}

@media screen and (max-width: 650px) {
  #godot {
    display: none;
  }
}
