body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.hero {
  height: 55vw;
  background-image: url("https://images.unsplash.com/photo-1516797045820-6edca89b2830?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ee9490bac752c3674694855720c6627&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  color: #eee;
}

.hero h1 {
  color: #eee;
  text-align: center;
  font-size: 100px;
}

.jumbotron p {
  width: 70%;
  text-align: center;
  margin: auto;
  font-size: 30px;
}

#godot {
  width: 200px;
  border-radius: 50%;
  float: left;
  margin: 0 50px 50px 0;
}

.hero ul {
  list-style: none;
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
}

.hero li {
    display: inline;
    margin: 20px;
}

.hero a {
  text-decoration: none;
  color: #eee;
}

.hero a:visited {
  color: #eee;
}

.projectList {

}

.aboutMe {
  width: 70%;
}

.sidebar {
  float: right;
  margin-right: 25px;
}
