body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-bottom: 40px;
}

.jumbotron {
  height: 55vw;
  background-image: url("https://images.unsplash.com/photo-1516797045820-6edca89b2830?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ee9490bac752c3674694855720c6627&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  color: #eee;
}

.jumbotron h1 {
  color: #eee;
  text-align: center;
  font-size: 100px;
}

.jumbotron p {
  width: 70%;
  text-align: center;
  margin: auto;
  font-size: 30px;
}

#godot {
  width: 200px;
  border-radius: 50%;
  float: left;
  margin: 0 50px 50px 0;
}

.jumbotron ul {
  list-style: none;
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
}

.jumbotron li {
    display: inline;
    margin: 20px;
}

.jumbotron a {
  text-decoration: none;
  color: #eee;
}

.jumbotron a:visited {
  color: #eee;
}

ul.projectList {
  list-style: none;
  margin-left: 0px;
}

.projectList a {
  color: #333;
  text-decoration: none;
}

.aboutMe {
  text-align: justify;
  width: 95%;
}

.sidebar {
  float: right;
  margin: 40px 20px 10px 50px;
}

.myemphasis {
  font-weight: bold;
  font-size: 1.25em;
  color: #581908;
}
