.work ul {
  margin: 0 50px;
}

.container {
  font-size: 14pt;
  width: 39em;
  line-height: 145%;
  letter-spacing: 1px;
}

.resumeHead {
  margin: 80px 0;
}

span {
  font-style: italic;
}

.job {
  margin: 0 0 50px;
  margin-left: -10px;
  padding-left: 20px;
  border-left: 1px solid #333;
}

.employer {
  margin: 25px 0;
  font-weight: 700;
  text-align: left;
}
.duty {
  margin: 20px 0;
}

.jobTitle {
  margin: 25px 0 0;
  font-weight: 700;
  display: block;
}