.resumeHead, .education {
  margin: 80px 0;
}

.resumeIntro {
  text-align: justify;
}

span {
  font-style: italic;
}

.job, .school {
  margin: 0 0 100px;
  margin-left: -10px;
  padding-left: 20px;
  border-left: 1px solid #333;
}

.employer, .degree {
  margin: 25px 0;
  font-weight: 700;
  text-align: left;
}

.work ul, .school ul {
  margin: 0 50px;
  text-align: left;
}

.work li, .school li {
  margin: 20px 0;
}

.jobTitle {
  margin: 25px 0 0;
  font-weight: 700;
  display: block;
}