@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

a, article, body, div, h1, h2, h3, h4, h5, h6, li, p, main, section, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #333;
}

a, a:hover, a:visited {
  color: #333;
}

.navigation {
  font-size: 1.5rem;
  margin: auto;
}

.navigation a, .navigation a:hover, .navigation a:visited {
  text-decoration: none;
  color: #333;
  margin: 0 20px 0 0;
}

/* .container {
  width: 80%;
  margin: auto;
} */

/* .jumbotron {
  background-image: url("https://images.unsplash.com/photo-1516797045820-6edca89b2830?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ee9490bac752c3674694855720c6627&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  color: #eee;
  padding: 20px 0;
} */

/* .jumbotron h1 {
  text-align: center;
  font-size: 100px;
} */

/* .jumbotron p {
  width: 70%;
  text-align: justify;
  margin: 2em auto 0;
  font-size: 1.5em;
} */

/* .jumbotron a {
  color: #eee;
} */

/* .jumbotron ul {
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
} */

/* .jumbotron li {
  display: inline;
  margin: 20px;
} */

/* .post {
  width: 80%;
  text-align: justify;
  margin: 0 auto 40px;
  border-bottom: 2px solid #666;
} */

/* .post span {
  font-style: italic;
  font-weight: 300;
} */

/* .content {
  padding: 5px;
} */

/* .about {
  font-style: italic;
  width: 40%;
  margin: auto;
} */

/* #godot {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 25px auto 0;
} */
